*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  /*equals 10px*/
}

body,
html {
  min-height: 100vh;
}

header {
  grid-area: header;
  background: linear-gradient(to bottom, #023e8a, #03045e, #0077b6);
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

h1 {
  color: #e6f5f9;
  font-size: 5rem;
  font-weight: 400;
  letter-spacing: 0.5rem;
  font-family: "Pinyon script";
  text-align: center;
  padding: 3rem;
}

body {
  margin: 0;
  display: grid;
  /*min-height: 100vh;*/
  grid-template-columns: 100%;

  grid-template-rows: 11rem 5.5rem 5.5rem 5.5rem 5.5rem 5.5rem auto 1.5rem;
  grid-template-areas:
    "header"
    "nav"
    "nav"
    "nav"
    "nav"
    "nav"
    "main"
    "footer";
}

.menu-icon {
  height: 3rem;
  width: 3rem;
  position: absolute;
  left: 93%;
  bottom: 6%;
}

nav {
  grid-area: nav;
  background-color: #00b4d8;
  background: linear-gradient(to bottom, #0096c7, #0077b6, #48cae4);
}

.main-nav-list a {
  color: white;
  padding: 1.6rem 1.6rem;
  text-decoration: none;
  font-size: 17px;
  text-align: center;
  display: block;
  font-family: "Raleway";
}

.main-nav-link:hover {
  transform: translateY(-3px);
  /*så den åker upp lite när man hovrar*/
  transition: 1s;
  color: #80ed99;
}

.my-pic3 {
  display: none;
}
.hidden-headline2 {
  display: none;
}

.my-pic2 {
  height: 25rem;
  width: 25rem;
}

.text-and-pic2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.presentation {
  padding: 0.8rem;
  border-radius: 10px 100px / 120px;
  border: 2.5px solid #e6f5f979;
  border: 2.5px solid #80ed999f;
  background-color: #e6f5f936;
}

.presentation:hover {
  color: white;
}

.my-pic1 {
  padding-left: 20rem;
  display: none;
}

main {
  font-size: 1.8rem;
  box-shadow: 1px 1px 50px #cccccc;
}

h2 {
  font-size: 50px;
  font-weight: 300;
  color: #a69064;
  line-height: 1.7px;
  text-align: left;
  padding: 5rem;
  margin-top: 2rem;
  font-family: "Raleway";
}
p {
  text-align: justify;
}

main {
  grid-area: main;
  margin: 1.5rem;
  padding: 4rem;
  box-shadow: 0 2.4rem 4;
  line-height: 1.5;
}

footer {
  grid-area: footer;
  padding: 3rem;
  font-size: 1.8rem;
  margin-top: 1.5rem;
  color: #888;
}

/*tablets*/

@media screen and (min-width: 768px) {
  body {
    margin: 0;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 12rem 6rem auto 2rem;
    grid-template-areas:
      "header header"
      "nav nav"
      "main main"
      "footer footer";
  }

  h1 {
    font-size: 6rem;
  }
  .menu-icon {
    display: none;
  }

  .main-nav-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 1rem;
  }

  .main-nav-list {
    gap: 6rem;
    align-items: left;
    justify-content: left;
  }

  h2 {
    margin-bottom: 2rem;
  }

  .my-pic2 {
    display: none;
  }
  .my-pic3 {
    display: block;
    padding-bottom: 5rem;
  }

  .hidden-headline {
    display: none;
  }
  .hidden-headline2 {
    display: block;
  }

  .my-pic3 {
    height: 25rem;
    width: 25rem;
    padding-left: 6rem;
    padding-right: 3rem;
  }

  .text-and-pic3 {
    display: flex;
    flex-direction: row;
    /*align-items: center;*/
  }
}
@media screen and (min-width: 992px) {
  body {
    margin: 0;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 15rem 6rem auto 2rem;
    grid-template-areas:
      "header header"
      "nav nav"
      "main main"
      "footer footer";
  }

  .main-nav-list {
    align-items: center;
  }

  h1 {
    font-size: 7rem;
    text-align: center;
  }
}
